### Day 2
#### Part A

In [1]:
import numpy as np
import pandas as pd

In [2]:
infile="02a_input.txt"

In [3]:
df=pd.read_csv(infile,sep=" ",header=None,names=["range","letter","pwd"])
df

     range letter                   pwd
0      3-5     f:                 fgfff
1     6-20     n:  qlzsnnnndwnlhwnxhvjn
2      6-7     j:              jjjjjwrj
3     8-10     g:            gggggggggg
4      5-6     t:              ttttttft
..     ...    ...                   ...
995   6-12     g:   dmgggpgggwczggghggm
996    3-6     h:           hdhjhhhhchh
997  11-12     r:          zrrkcrrrrrlh
998    7-9     v:   vhqvlvwvzqwqvrxvjnf
999    1-5     r:                 rvmjr

[1000 rows x 3 columns]

In [4]:
# clean up table: remove the ":", and split min and max count into two separate columns
df["letter"]=df["letter"].apply(lambda x: x.replace(":","")) #or: df["letter"].str.replace(":","")
df["start"]=df["range"].apply(lambda x: int(x.split("-")[0]))
df["stop"]=df["range"].apply(lambda x: int(x.split("-")[-1]))
df.head()

  range letter                   pwd  start  stop
0   3-5      f                 fgfff      3     5
1  6-20      n  qlzsnnnndwnlhwnxhvjn      6    20
2   6-7      j              jjjjjwrj      6     7
3  8-10      g            gggggggggg      8    10
4   5-6      t              ttttttft      5     6

In [5]:
# count the number of letter occurences and whether they are within the limits
df['count'] = df.apply(lambda x:  x['pwd'].count(x['letter']), axis=1)
df['correct']=df.apply(lambda x: x['count']>=x['start'] and x['count']<=x['stop'],axis=1)
df

     range letter                   pwd  start  stop  count  correct
0      3-5      f                 fgfff      3     5      4     True
1     6-20      n  qlzsnnnndwnlhwnxhvjn      6    20      7     True
2      6-7      j              jjjjjwrj      6     7      6     True
3     8-10      g            gggggggggg      8    10     10     True
4      5-6      t              ttttttft      5     6      7    False
..     ...    ...                   ...    ...   ...    ...      ...
995   6-12      g   dmgggpgggwczggghggm      6    12     11     True
996    3-6      h           hdhjhhhhchh      3     6      8    False
997  11-12      r          zrrkcrrrrrlh     11    12      7    False
998    7-9      v   vhqvlvwvzqwqvrxvjnf      7     9      6    False
999    1-5      r                 rvmjr      1     5      2     True

[1000 rows x 7 columns]

In [6]:
# count the number of correct pwds ("true")
df["correct"].value_counts()

True     564
False    436
Name: correct, dtype: int64

#### Part B

In [12]:
def testpartB(x): # x is a dataframe or series
    out=bool(x['pwd'][x['start']-1]==(x['letter']))!=bool(x['pwd'][x['stop']-1]==(x['letter']))
    return out

def countpartA(x):
    count=x['pwd'].count(x['letter'])
    return count

df['partBcorrect'] = df.apply(testpartB, axis=1)
df

,range,letter,pwd,start,stop,count,correct,partBcorrect
0,3-5,f,fgfff,3,5,4,True,False
1,6-20,n,qlzsnnnndwnlhwnxhvjn,6,20,7,True,False
2,6-7,j,jjjjjwrj,6,7,6,True,False
3,8-10,g,gggggggggg,8,10,10,True,False
4,5-6,t,ttttttft,5,6,7,False,False
...,...,...,...,...,...,...,...,...
995,6-12,g,dmgggpgggwczggghggm,6,12,11,True,False
996,3-6,h,hdhjhhhhchh,3,6,8,False,False
997,11-12,r,zrrkcrrrrrlh,11,12,7,False,False
998,7-9,v,vhqvlvwvzqwqvrxvjnf,7,9,6,False,False
999,1-5,r,rvmjr,1,5,2,True,False

In [13]:
df["partBcorrect"].value_counts()

False    675
True     325
Name: partBcorrect, dtype: int64

In [17]:
tmp=df.iloc[0]

In [19]:
tmp["pwd"]

'fgfff'